.single-movie{
    height: 26rem;
}

.single-movie img{
    height: 25rem;
    width: 85rem;
    position: absolute;
    border-radius: 30px;
}

.cont2{
    margin: 3rem 5rem 5rem 5rem;
    
}
.movie-details{
    padding-top: 6rem;
    position: relative;
}

.movie-info{
    height: 12rem;
    width: 38rem;
    padding-left: 4rem;
}

.movie-name{
    font-size: 4rem;
    font-variant: all-petite-caps;
    font-family: 'Ysabeau';
    font-weight: 700;
}

.movie-cast ,.duration{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.movie-cast{
    padding-top: 1rem;
}

.watch-bttn{
    padding-left: 4rem;
    padding-top: 1.5rem;

}

.watch-bttn button{
    background: black;
    color: white;
    width: 9rem;
    height: 2.3rem;
    border-radius: 8px;
    font-family: 'Ysabeau';
    font-weight: 500;
    font-size: 16px;
    border:0;
}